/*
Error: Undefined mixin 'element-invisible'.
        on line 47 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/components/misc.scss, in `element-invisible'
        from line 47 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/components/misc.scss

42:  *\/
43: 
44: /* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility *\/
45: .element-invisible,
46: %element-invisible {
47:   @include element-invisible;
48: }
49: 
50: /* Turns off the element-invisible effect. *\/
51: %element-invisible-off {
52:   @include element-invisible-off;

Backtrace:
/home/alex/sites/worldup/sites/all/themes/azhyna/sass/components/misc.scss:47:in `element-invisible'
/home/alex/sites/worldup/sites/all/themes/azhyna/sass/components/misc.scss:47
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:351:in `block in visit_mixin'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:98:in `block in with_mixin'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:98:in `with_mixin'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:349:in `visit_mixin'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:473:in `on_file_changed'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:331:in `block in watch'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `call'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:252:in `on_change'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/listener.rb:290:in `block in initialize_adapter'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `call'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:254:in `report_changes'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:323:in `poll_changed_directories'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/vendor/listen/lib/listen/adapter.rb:299:in `block in start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined mixin 'element-invisible'.\A         on line 47 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/components/misc.scss, in `element-invisible'\A         from line 47 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/components/misc.scss\A \A 42:  */\A 43: \A 44: /* element-invisible as defined by http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */\A 45: .element-invisible,\A 46: %element-invisible {\A 47:   @include element-invisible;\A 48: }\A 49: \A 50: /* Turns off the element-invisible effect. */\A 51: %element-invisible-off {\A 52:   @include element-invisible-off;"; }
