/*
Error: Undefined variable: "$zen-reverse-all-floats".
        on line 25 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/layouts/responsive.scss

20: // zen-grid-item-base mixin to all grid items from within a single ruleset.
21: $zen-auto-include-item-base: false;
22: // $zen-auto-include-flow-item-base: false;
23: 
24: // Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.
25: @if $zen-reverse-all-floats == false {
26: 
27: /**
28:  * Center the page.
29:  *
30:  * For screen sizes larger than 1200px, prevent excessively long lines of text

Backtrace:
/home/alex/sites/worldup/sites/all/themes/azhyna/sass/layouts/responsive.scss:25
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/operation.rb:64:in `_perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:299:in `visit_if'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/commands/base.rb:18:in `execute'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/bin/compass:30:in `block in <top (required)>'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/bin/compass:44:in `call'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/bin/compass:44:in `<top (required)>'
/home/alex/.rvm/gems/ruby-2.1.2/bin/compass:22:in `load'
/home/alex/.rvm/gems/ruby-2.1.2/bin/compass:22:in `<main>'
/home/alex/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/home/alex/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$zen-reverse-all-floats\".\A         on line 25 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/layouts/responsive.scss\A \A 20: // zen-grid-item-base mixin to all grid items from within a single ruleset.\A 21: $zen-auto-include-item-base: false;\A 22: // $zen-auto-include-flow-item-base: false;\A 23: \A 24: // Suppress this section of CSS for RTL layouts since it contains no LTR-specific styles.\A 25: @if $zen-reverse-all-floats == false {\A 26: \A 27: /**\A 28:  * Center the page.\A 29:  *\A 30:  * For screen sizes larger than 1200px, prevent excessively long lines of text"; }
