/*
Error: Undefined variable: "$legacy-support-for-ie6".
        on line 42 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/normalize.scss

37: /* Correct `inline-block` display not defined in IE 8/9. *\/
38: audio,
39: canvas,
40: video {
41:   display: inline-block;
42:   @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {
43:     *display: inline;
44:     *zoom: 1;
45:   }
46: }
47: 

Backtrace:
/home/alex/sites/worldup/sites/all/themes/azhyna/sass/normalize.scss:42
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/variable.rb:49:in `_perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/operation.rb:64:in `_perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/script/tree/node.rb:58:in `perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:299:in `visit_if'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block (2 levels) in visit_rule'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `map'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:433:in `block in visit_rule'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:431:in `visit_rule'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `block in with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:115:in `with_frame'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/stack.rb:79:in `with_base'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:160:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `map'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:169:in `block in visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:181:in `with_environment'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:168:in `visit_children'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:188:in `visit_root'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/base.rb:36:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:159:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/visitors/perform.rb:8:in `visit'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:36:in `css_tree'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/tree/root_node.rb:20:in `render'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/engine.rb:281:in `render'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:494:in `update_stylesheet'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `each'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/home/alex/.rvm/gems/ruby-2.1.2/gems/sass-3.4.23/lib/sass/plugin/compiler.rb:294:in `watch'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/sass_compiler.rb:46:in `watch!'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/commands/watch_project.rb:41:in `perform'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/commands/base.rb:18:in `execute'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/commands/project_base.rb:19:in `execute'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/bin/compass:30:in `block in <top (required)>'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/bin/compass:44:in `call'
/home/alex/.rvm/gems/ruby-2.1.2/gems/compass-1.1.0.alpha.3/bin/compass:44:in `<top (required)>'
/home/alex/.rvm/gems/ruby-2.1.2/bin/compass:22:in `load'
/home/alex/.rvm/gems/ruby-2.1.2/bin/compass:22:in `<main>'
/home/alex/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `eval'
/home/alex/.rvm/gems/ruby-2.1.2/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Undefined variable: \"$legacy-support-for-ie6\".\A         on line 42 of /home/alex/sites/worldup/sites/all/themes/azhyna/sass/normalize.scss\A \A 37: /* Correct `inline-block` display not defined in IE 8/9. */\A 38: audio,\A 39: canvas,\A 40: video {\A 41:   display: inline-block;\A 42:   @if $legacy-support-for-ie6 or $legacy-support-for-ie7 {\A 43:     *display: inline;\A 44:     *zoom: 1;\A 45:   }\A 46: }\A 47: "; }
